

nav {
    padding: 10%;
}

#section1 {
    background-image: linear-gradient(to bottom, #ffc107, #dfc4ff); 

}

#section2 {
    background-image: linear-gradient(to bottom, #dfc4ff, #974ff0);
    padding: 5% 20% 5% 20%;
}

.tituloprincipal {
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}

.titulo {
    color: #974ff0;
}

.titulo2 {
    color: white;
}

#container1 {
    padding: 0% 10% 0% 0%;
}

#Portafolio {
    background-color:  #974ff0;
    padding: 5% 20% 5% 20%;
}